@page "{id}"
@model AntColonyClient.Pages.ClientPages.SettlementPageModel
@{
    ViewData["Title"] = "Settlement Page";
}

<div class="text-center">
    <h1 class="pageHeader-1">Подтвердите запуск задачи:</h1>
    <div class="text-start">
        <h5>Входные данные:</h5>
        <h6>Количество агентов: @(Model.inputData.antCount)</h6>
        <h6>Количество всех возможных путей: @(Model.inputData.inputParams.countCombinationsV)</h6>
        <h6>Необходимое число итераций: @(Model.inputData.iterationCount)</h6>
        <h6>Параметры:</h6>
        @foreach (var elem in Model.inputData.inputParams.Params)
        {
            <div>
                <h6>Параметр №: @elem.defParam.numParam</h6>
                <h6>Тип: @elem.defParam.typeParam</h6>
                <h6>Количество значений: @elem.defParam.valuesCount</h6>
                <h6>Значения параметра:</h6>
                @foreach (var elemValue in elem.valuesParam)
                {
                    <p>id: @(elemValue.idValue); num: @(elemValue.numValue); value: @(elemValue.valueParam); pheromones: @(elemValue.pheromones)</p>
                }
            </div>
            <hr />
        }
    </div>
    <div>
        <form method="post">
            <input type="hidden" asp-for="taskIsd" value="@(ViewData["view_taskId"])" />
            <input type="submit" value="Подтвердить" asp-page-handler="StartSettlement" asp-route-id="@(Model.inputData)" class="btn-href" data-bs-toggle="modal" data-bs-target="#senttlementModal" />
            <input type="button" value="Отмена" class="btn-href" onclick="window.location.href='@Url.Page("/ClientPages/TaskDetails", new {id=ViewData["view_taskId"]})'" />
        </form>
    </div>
</div>


@*Модальное окно с ходом решения*@
<div class="modal fade" id="senttlementModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>Расчет целефой функции по заданным параметрам</label>
            </div>
            <div class="modal-body">
                <p>Подождите, идет процесс расчета</p>
                <div class="progress">
                    <div class="progress-bar br-color" id="progress" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
                <div id="sentData">

                </div>
            </div>
            <div class="modal-footer">
                
                <form method="post">
                    <input type="hidden" asp-for="taskIsd" value="@(ViewData["view_taskId"])" />
                    <input type="submit" asp-page-handler="Stop" id="StopSettlement_btn" name="StopSettlement_btn" value="Остановить" class="btn-href" />
                </form>
                
            </div>

        </div>
    </div>

</div>


<script>
    function stopPageReload(){
        window.history.pushState({},document.title, window.location.pathname);
    }
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";
    //var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    const connection = new signalR.HubConnectionBuilder().withUrl("/progressHub", {
        skipNegotiation: true,
        transport: signalR.HttpTransportType.WebSockets
    }).build();

    connection.on("Receive", (data, widthProgress, message) => {
        const progress = document.getElementById("progress");
        progress.style.width = widthProgress+"%" //innerHTML = message;
        progress.innerHTML = message+"%";

        //Вывод сообщений
        const sentData = document.getElementById("sentData");
        let setP = "<p/>"+data+"</p>";
        sentData.innerHTML = /*sentData.innerHTML +*/ setP;

    });

    connection.start().then(() => {
        console.log("Соединение установлено");
    }).catch((error) => {
        console.error(error.toString());
    });

    D
</script>
