@page "{id}"
@using AntColonyClient.Models
@using AntColonyExtLib.DataModel.Numerators
@model AntColonyClient.Pages.ClientPages.TaskDetailsModel
@{
    ViewData["Title"] = "Task details";
}

<div class="text-center">
    <h1 class="pageHeader-1">Детали задачи: @(Model.userTask.Name)</h1>
    <div class="div-block-detail">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='/ClientPages/UserTasks'"></button>
        </div>

        @if (Model.userTask.InputMethod == Enum_InputMethods.Manual)
        {
            @*Отображение карточек спараметрами*@
            <div class="text-start">
                <h5 class="h-details">Параметры: </h5>
                @if (Model.paramCount == 0)
                {
                    <div> 
                        <h6>Нет добавленных параметров</h6>
                    </div>
                }
                else
                {
                    <div class="text-start">
                    @foreach (var paramElem in Model.TaskParams)
                    {
                        <div class="Param_Card div-block-detail">
                            <div class="text-end">                                
                                <button type="submit" asp-route-id="@(paramElem.Id)" class="btn-icon" aria-label="Изменить" onclick="window.location.href='@Url.Page("/ClientPages/ParamDetail", new {id=paramElem.Id})'">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                                <button type="button" class="btn-icon" aria-label="Удалить" data-bs-toggle="modal" data-bs-target="#deleteParam@(paramElem.Id)Modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </button>
                            </div>
                            <h6>Номер: @(paramElem.NumParam)</h6>
                            <input type="hidden" value="@(paramElem.Id)">
                            <input type="hidden" value="@(paramElem.IdTask)">
                            
                            
                        </div>

                        @*Модальное окно для удаления параметра*@
                        <div class="modal fade" id="deleteParam@(paramElem.Id)Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                            <form method="post">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <label>Хотите удалить параметр @(paramElem.NumParam)? </label>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Удалить" class="btn-href" asp-page-handler="delete" asp-route-id="@(paramElem.Id)" />
                                            <input type="button" value="Отмена" class="btn-href" data-bs-dismiss="modal" />
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                    </div>
                }

            </div>
        }
        @if (Model.userTask.InputMethod == Enum_InputMethods.From_File)
        {
            @*Отображение файла с исходными данными*@
            <div class="text-start">
                <h5 class="h-details">Файл с данными: </h5>
            </div>
        }
        <hr />
        <div class="text-center">
            @if (Model.userTask.InputMethod == Enum_InputMethods.Manual)
            {
                <button class="btn-href" data-bs-toggle="modal" data-bs-target="#AddTaskParamModal">Добавить параметр</button>

                @*Модальное окно для добавления параметра*@
                <div class="modal fade" id="AddTaskParamModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <form method="post">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" asp-for="TaskParam.IdTask" value="@(Model.userTask.Id)">

                                    <div class="row g-2 align-items-center">
                                        <div class="col-lg-2 col-sm-12 col-md-2">
                                            <label asp-for="TaskParam.NumParam" class="col-form-label">Номер параметра:</label>
                                        </div>
                                        <div class="col-lg-10 col-sm-12 col-md-10">
                                            <input asp-for="TaskParam.NumParam" type="text" id="numNewParam" class="form-control" aria-describedby="numNewParam">
                                        </div>
                                    </div>
                                    <div class="text-start errMass">
                                        <span asp-validation-for="TaskParam.NumParam"></span>
                                    </div>

                                    <div class="row g-2 div-marg">
                                        <div class="col-lg-5 col-sm-12 col-md-12 ">
                                            <label for="typeAddParams" class="col-form-label">Способ ввода параметов:</label>
                                        </div>
                                        <div class="col-lg-7 col-sm-12 col-md-12 text-start">
                                            <select asp-for="TaskParam.TypeParam" asp-items="Html.GetEnumSelectList<TypeNumerator>()">
                                                <option selected="selected" value="">Выбирете тип параметра</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-start errMass">
                                        <span asp-validation-for="TaskParam.TypeParam"></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="modal-footer">
                                    <button type="submit" class="btn-form btn-create btn-href">Создать</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            @if (Model.userTask.InputMethod == Enum_InputMethods.From_File)
            {
                <button class="btn-href">Добавить файл</button>
            }
            <a asp-page="/ClientPages/SettlementPage" asp-route-id="@(Model.userTask.Id)" class="btn-href">Запустить</a>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
